@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.btn-container {
    /* background-color: red; */
    margin-top: 32px;
}

.p-btn {
    border-radius: 8px;
    padding: 21px 32px 21px 32px;
    background: rgb(82, 195, 3);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: Work Sans;
    border: none;
    cursor: pointer;
}

.hero {
    /* background-color: red; */
    height: 953px;
    /* background-image: url(../assets/hero-bg.png); */
    background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-content {
    /* background-color: red; */
    /* height: 391px; */
    width: 1023px;
    text-align: center;
}

.hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

.hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}

.hero .hero-content .desc {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}

.food-item-container {
    height: 953px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-item {
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-box {
    width: 1320px;
    margin: 167px auto;
}

#card-box .subtitle {
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container {
    margin-top: 48px;
}

.card {
    max-width: 424px;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.card .img-container {
    width: 424px;
}

.card img {
    width: 100%;
}

.shop {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.card h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

.card p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.ThreeCard {
    display: flex;
    gap: 24px;
}

.card-bt {
    margin-top: 64px;
}

.top-hero {
    /* width: 1920px; */
    display: flex;
}

.top-image {
    width: 50%;
}

.top-image img {
    width: 100%;
}

.top-info {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-head {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.info-subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.info-title-container {
    width: 100%;
}

.info-title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    /* background-color: red; */
    padding: 30px 0px;
    /* display: block; */
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-bottom: 32px;

}

.top-icon {
    text-align: center;
}

.bottom-hero{
    /* width: 1932px; */
    background-image: url(../assets/social-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 671px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    width: 1320px;
    /* margin: 137px auto; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.bottom-container-2 {
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.bottom-subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-top: 24px;
    margin-bottom: 48px ;
}
.heading-border{
    width: 100%;
}
.bottom-heading {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-bottom: 32px;
}